

    .container {
	position: relative;
	width: 960px;
	margin: 0 auto;
}
.column, .columns {
	float: left;
	display: inline;
	margin-left: 20px;
	margin-right: 20px;
}
.row {
	margin-bottom: 20px;
}

    .column.alpha, .columns.alpha {
	margin-left: 0;
}
.column.omega, .columns.omega {
	margin-right: 0;
}

    .container .one.column {
	width: 20px;
}
.container .two.columns {
	width: 80px;
}
.container .three.columns {
	width: 140px;
}
.container .four.columns {
	width: 200px;
}
.container .five.columns {
	width: 260px;
}
.container .six.columns {
	width: 320px;
}
.container .seven.columns {
	width: 380px;
}
.container .eight.columns {
	width: 440px;
}
.container .nine.columns {
	width: 500px;
}
.container .ten.columns {
	width: 560px;
}
.container .eleven.columns {
	width: 620px;
}
.container .twelve.columns {
	width: 680px;
}
.container .thirteen.columns {
	width: 740px;
}
.container .fourteen.columns {
	width: 800px;
}
.container .fifteen.columns {
	width: 860px;
}
.container .sixteen.columns {
	width: 920px;
}
.container .one-third.column {
	width: 280px;
}
.container .two-thirds.column {
	width: 600px;
}
/* Offsets */
    .container .offset-by-one {
	padding-left: 40px;
}
.container .offset-by-two {
	padding-left: 100px;
}
.container .offset-by-three {
	padding-left: 160px;
}
.container .offset-by-four {
	padding-left: 220px;
}
.container .offset-by-five {
	padding-left: 280px;
}
.container .offset-by-six {
	padding-left: 340px;
}
.container .offset-by-seven {
	padding-left: 400px;
}
.container .offset-by-eight {
	padding-left: 460px;
}
.container .offset-by-nine {
	padding-left: 520px;
}
.container .offset-by-ten {
	padding-left: 580px;
}
.container .offset-by-eleven {
	padding-left: 640px;
}
.container .offset-by-twelve {
	padding-left: 700px;
}
.container .offset-by-thirteen {
	padding-left: 760px;
}
.container .offset-by-fourteen {
	padding-left: 820px;
}
.container .offset-by-fifteen {
	padding-left: 880px;
}



