/*  Cabecera */


.nombre{
	float: left;
	margin-top: 2.50em;
	font-family: 'Lato', sans-serif;
	color:gray;
	
}

/**************/
.nav {
	float: right;
	margin-top: 1.50em;
	font-family: 'Lato', sans-serif;
}

.nav > ul > a {
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	color: #444;
	padding: 0.5em 1em;
}

.learn{
		width:auto;
        margin:10px 0 0 2px;
        padding:3px 4px 3px 4px;
        color:white;
        background-color:#489cdf;
        outline:none;
        border:1px solid #489cdf;
        font-weight:bold;

}

.registrar{
	width:auto;
        margin:10px 0 0 2px;
        padding:3px 4px 3px 4px;
        color:white;
        background-color:#589d39;
        outline:none;
        border:1px solid #006600;
        font-weight:bold;


}
.detalles{
		width:auto;
        margin:10px 0 0 2px;
        padding:3px 4px 3px 4px;
        color:black;
        background-color:#FFFFFF;
        outline:none;
        border:1px solid #020000;
        font-weight:bold;


}
 
